@use "../../vars";

.leaflet-container {
    width: 100%;
    height: 100%;

    .iconMap {
        transition: unset;
        outline: none;
        background-color: white;
        fill: vars.$primary-color;
        border: 2px solid vars.$primary-color
    }

}




.leaflet-popup-content-wrapper {
    font-size: 16px;
    line-height: 24px;
    height: 360px;
    width: 400px;
    display: flex;
    @media (max-width: 600px) {
        width: 300px;
        height: 300px;
    }
    div {
        width: 100% !important;
        display: flex;
        overflow: hidden;
        .popupContainer {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .editContainer {
                display: flex;
                flex-direction: column;
                
                .activityHeader {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: .5rem 0;
                 

                    input {
                        border: none;
                        font-size: 1.5rem;
                        color: vars.$primary-color;
                        outline: none;
                        @media (max-width: 600px) {
                            font-size: 1rem;
                        }
                    }
                }

                .dateContainer {
                    display: flex;
                    input{
                        border: none;
                        font-size: 1.3rem;
                        outline: none;
                        @media (max-width: 600px) {
                            font-size: 1rem;
                        }
                    }
                    .smIcon {
                        font-size: 1.3rem;
                        @media (max-width: 600px) {
                            font-size: 1rem;
                        }
                    }
                }

                .locationContainer {
                    display: flex;

                    .smIcon {
                        font-size: 1.3rem;
                        @media (max-width: 600px) {
                            font-size: 1rem;
                        }
                    }

                    input {
                        border: none;
                        outline: none;
                        font-size: 1.3rem;
                        @media (max-width: 600px) {
                            font-size: 1rem;
                        }
                    }
                }

                .descriptionContainer {
                    margin-top: 1rem;
                    @media (max-width: 600px) {
                        margin-top: .8rem;
                    }
                    padding: .3rem;
                    overflow: auto;
                    textarea{
                        width: 100%;
                        height: 150px;
                        @media (max-width: 600px) {
                            font-size: .8rem;
                            height: 100px;
                        }
                        resize: none;
                        padding: .7em;
                        font-size: 1.1rem;
                        @media (max-width: 600px) {
                            font-size: .8rem;
                        }
                        outline: none;
                        border-radius: 1rem;
                    }
                }

                .buttonContainer{
                    margin-top: .8rem;
                    width: 100%;
                    display: flex;
                  justify-content: center;
                }
            }

            .activityContainer {
                display: flex;
                flex-direction: column;

                .activityHeader {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: .5rem 0;

                    h1 {
                        font-size: 1.2rem;
                        color: vars.$primary-color;
                        @media (max-width: 600px) {
                            font-size: 1rem;
                        }
                    }

                    span {
                        color: vars.$primary-color;
                        @media (max-width: 600px) {
                            font-size: .8rem;
                        }
                        em {
                            font-weight: bold;
                            font-size: 1.1rem;
                            padding-left: .2rem;
                            cursor: pointer;
                            text-decoration: underline;
                            @media (max-width: 600px) {
                                font-size: .8rem;
                            }
                           
                          
                        }
                    }
                }

                .dateContainer {
                    display: flex;

                    .smIcon {
                        font-size: 1.3rem;
                    }
                    @media (max-width: 600px) {
                        font-size: 1rem;
                    }
                }

                .locationContainer {
                    display: flex;

                    .smIcon {
                        font-size: 1.3rem;
                        @media (max-width: 600px) {
                            font-size: 1rem;
                        }
                    }
                }

                .descriptionContainer {
                    margin-top: 1rem;
                    padding: .3rem;
                    overflow: auto;
                    @media (max-width: 600px) {
                        font-size: .9rem;
                        margin-top: .3rem;
                    }
                }
            }

            .userContainer {
                display: flex;
                flex-direction: column;
                position: relative;
                .back{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .avatarContainer{
                    display: flex;
                    width: 100%;
                    height: 90px;
                    justify-content: center;
                    > div{
                        width: 72px !important;
                        height: 72px !important;
                        border: 1px solid red;
                        border-radius: 50%;
                        border: 1px solid vars.$primary-color;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                
                }
                .nicknameContainer{
                    display: flex;
                    width: 100%;
                    padding-bottom: .5rem;
                    justify-content: center;
                    color: vars.$primary-color;
                    @media (max-width: 600px) {
                        font-size: .9rem;
                    }
                }
                .addressContainer{
                    @media (max-width: 600px) {
                        font-size: .9rem;
                    }
                }
                .namesContainer{
                    span{
                        padding-left: .3rem;
                        @media (max-width: 600px) {
                            font-size: .9rem;
                        }
                    }
                }
                .phoneContainer{
                    @media (max-width: 600px) {
                        font-size: .9rem;
                    }
                }
                .descriptionContainer{
                    padding: .3rem .6rem;
                    overflow: auto;
                    @media (max-width: 600px) {
                        font-size: .9rem;
                    }
                }
            }
            .commentsContainer{
                display: flex;
                flex-direction: column;
                position: relative;
                .back{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .row{
                    width: 100%;
                    display: flex;
                    padding-left: 2rem;
                    justify-content: center;
                    color: vars.$tertiary-color;
                    font-weight: bold;
                }
                .comments{
                    width: 100%;
                    padding-top: 1rem;
                    height: 245px;
                    display: flex ;
                    flex-direction: column;
                    overflow: auto;
                    .comment{
                        display: flex;
                        flex-direction: column;
                        font-size: .8rem;
                        min-height: 130px !important;
             
                        .head{
                            color: vars.$tertiary-color;
                            display: flex;
                            min-height: 20px;
                            >div:first-child{
                                display: flex;
                                align-items: center;
                                gap: 5%;
                                img{
                                    height: 20px;
                                    width: 20px;
                                    border-radius: 50%;
                                    border: 1px solid vars.$tertiary-color;
                                }
                            }
                            > div:nth-child(2){
                               display: flex;
                               align-items: center;
                               justify-content: flex-end;
                               padding-right: 1rem;
                            }
                        }
                        .content{
                            padding: .5rem;
                            overflow: auto;
                            color: vars.$primary-color;
                        }
                    }
                }
                .add{
                    height: 20px !important;
                    margin-top: .4rem;
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    gap: 0;
                    border-bottom: 1px solid vars.$primary-color;
                    border-radius: 5px;
                    overflow: hidden;
                    &.form-error{
                        border-color: tomato;
                    }
                    input{
                        height: 100% !important;
                        width: 70%;
                        border: none;
                        outline: none;
                        &.input-error{
                            color: tomato;
                        }
                    }
                    button{
                        height: 100% !important;
                        width: 30%;
                        border: none;
                        outline: none;
                        background-color: vars.$primary-color;
                        color: white;
                        cursor: pointer;
                        &.disabled{
                            background-color: vars.$gray;
                            cursor: not-allowed;
                            &:hover{
                                background-color: vars.$gray;
                            }
                        }
                        
                        &:hover{
                            background-color: vars.$tertiary-color;
                        }
                        &:active{
                            background-color: vars.$tertiary-color;

                        }
                    }
                }
            }
            .actions {
                display: flex;
                flex-direction: row;
                width: 100% !important;
                .left {
                    width: 20% !important;
                    > div {
                        .actionIcon {
                            font-size: 1.6rem;
                        }
                    }
                   
                }

                .middle{
                    width: 65%!important;
                    display: flex !important;
                    align-items: center;
                    font-size: .8rem;
                    justify-content: center !important;
                    flex-direction: row;
                    @media (max-width: 600px){
                        font-size: .6rem;
                    }
                    > div{
                        color: vars.$primary-color;
                        display: flex;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        > span{
                            padding-left: .1rem;
                        }
                    
                        &:nth-child(2){
                            width: 10% !important;
                        }
                        &:nth-child(3){
                            width: 80% !important;
                        }
                        &.actionMiddle{
                            cursor: pointer;
                        }
                    }
                }

                .right {
                    flex: 3;
                    display: flex;
                    width: 15%;
                    > div {
                        width: 100% !important;
                        display: flex;
                        justify-content: flex-end;
                        .starIcon {
                            font-size: 1.6rem;
                            cursor: pointer;
                            fill: vars.$primary-color;
                            transition: fill .3s ease-in-out;
                            &.bookmark{
                                fill: vars.$secondary-color;
                            }
                            &:hover {
                                fill: vars.$tertiary-color;
                            }
    
                            &:active {
                                transform: scale(.6);
                            }
                        }
                    }
                   
                }
            }
        }
    }
}


.leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
    transform: translate(20px, -4px)
}

// .leaflet-popup-tip{
//     background: green
// }

.leaflet-div-icon {
    background: transparent;
    border: none;
    width: 40px !important;
    height: 40px !important;
}


.leaflet-popup-close-button {
    span {

        color: vars.$primary-color;

        &:hover {
            color: vars.$tertiary-color;
        }
    }
}