@use "../../vars";

.profile{
    width: 100%;
    height: 100%;

    h2{
        font-size: 1.1rem;
        letter-spacing: 5px;
        margin-bottom: .8rem;
    }
    .server-error{
        text-align: center;
        width: 100%;
    }
    .server-success{
      text-align: center;
      font-size: 1rem;
      color: vars.$quaternary-color;
    }
    .editForm {
      padding-top: 1.3rem;
      @media (max-width: 600px) {
        padding: 0;
      }
        width: 97%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;
        .avatar{
          width: 50%;
          align-self: center;
          height: 100px;
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-bottom: .4rem;
      
          input{
            display: none;
          }
          label{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid vars.$primary-color;
            overflow: hidden;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
          }
        }
        .pseudo{
          width: 40%;
          margin-bottom: .4rem;
          input{
            width: 100%;
         
            text-align: center;
            font-size: 1.5rem;
            border: none;
            outline: none;
            color: vars.$primary-color;
          }
        }
        .profile-field{
          width: 100%;
          height: 2rem;
          gap: 1%;
          display: flex;
          align-items: flex-end;
          &.field-address{
            position: relative;
            .suggestionBox{
                position: absolute;
                bottom: 0;
                transform: translateY(100%);
                background-color: rgb(250, 250, 250);
                width: 60%;
                overflow: auto;
                max-height: 100px;
                border-radius: 10px;
                cursor: pointer;
                > div {
                    padding: .1rem;
                    font-size: .8rem;
                    &:hover{
                        background-color: vars.$primary-color;
                        color: white;
                    }
                }
            }
        }
          .smIcon{
         
            font-size: 1.3rem;
            fill: vars.$tertiary-color;
          }
          .input-profile{
         
            height: 60%;
            border: none;
            outline: none;
       
            width: 80%;
            color: vars.$primary-color;
          }
        }
   
    //     .field{
    //         width: 49%;
    //         &.field-address{
    //             position: relative;
    //             .suggestionBox{
    //                 position: absolute;
    //                 bottom: 0;
    //                 transform: translateY(97%);
    //                 background-color: white;
    //                 width: 100%;
    //                 overflow: auto;
    //                 max-height: 100px;
    //                 border-radius: 10px;
    //                 cursor: pointer;
    //                 > div {
    //                     &:hover{
    //                         background-color: vars.$primary-color;
    //                         color: white;
    //                     }
    //                 }
    //             }
    //         }
    //         &-input {
    //             padding: .2rem .6rem;
    //             font-size: 1em;
    //             height: 2rem;
    //         }
    //         &-label{
    //             left: unset;
    //             right: 0.7rem;
    //           }
    // }
    .areaContainer{
      margin-top: .5rem;
      width: 100%;
      height: 60px;
      @media (max-width: 600px) {
        display: none;
      }
      gap: 1%;
      display: flex;
      .smIcon{
        font-size: 1.3rem;
        fill: vars.$tertiary-color;
      }
      textarea {
        width: 100%;
        height: 100%;
        resize: none;
        font-size: .9rem;
        outline: none;
        border: none;
        color: vars.$primary-color;
        &::placeholder{
          color: vars.$primary-color;
        }
        &:focus{
          border-color: vars.$primary-color ;
        }
      }
    }
    .buttonContainer{
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: .5rem;
     
      justify-content: center;
      .btn{
        @media (max-width: 600px){
          width: 40%;
        }
        color: white;
        border: none;
        background-color: vars.$tertiary-color;
        width: 25%;
        border-radius: 7px;
        box-shadow: -4px 0px 4px 2px rgba(204, 204, 204, 0.25);
      }
    }
    }

    .activityList{
      padding: 0 30px;
      @media (max-width: 800px){
        padding: 0;
      }
      width: 100%;
    height: 39%;
      overflow: auto;
    }
}

