@use "../../vars";

.profile{
    width: 100%;
    height: 100%;

    h2{
        font-size: 1.1rem;
        letter-spacing: 5px;
        margin-bottom: .8rem;
    }
    .server-error{
        text-align: center;
        width: 100%;
    }
    .server-success{
      text-align: center;
      font-size: 1rem;
      color: vars.$quaternary-color;
    }
    .editForm {

      padding-top: 1.3rem;
      padding-left: 1rem;

      @media (max-width: 600px) {
        padding: 0;
      }
        width: 97%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;
        .avatar{
          width: 50%;
          align-self: center;
          height: 100px;
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-bottom: .4rem;
          
          position: relative;
          input{
            display: none;
          }
          label{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid vars.$primary-color;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
          }
          .cog{
            background-color: vars.$primary-color;
            width: 32px;
            height: 32px;
            padding: .3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            z-index: 4000;
            cursor: pointer;
            bottom: 0;
            right: 25%;
          }
          .delete{
            position: absolute;
            bottom: 0;
            left: 20%;
            border-radius: 10px;
            border: 1px solid vars.$gray;
            background-color: white;
            color: tomato;
            padding: .2rem;
            font-size: .7rem;
            transform: translateY(110%);
            cursor: pointer;
          }
        }
        .pseudo{
          width: 40%;
          margin-bottom: .4rem;
          h2 {
            width: 100%;
            margin-top: 1rem;
            text-align: center;
            font-size: 1.5rem;
            border: none;
            outline: none;
            color: vars.$primary-color;
          }
        }
        .profile-field{
          width: 100%;
          height: 2rem;
          gap: 1%;
          display: flex;
          align-items: flex-end;
          &.field-address{
            position: relative;
            .suggestionBox{
                position: absolute;
                bottom: 0;
                transform: translateY(100%);
                background-color: rgb(250, 250, 250);
                width: 60%;
                overflow: auto;
                max-height: 100px;
                border-radius: 10px;
                cursor: pointer;
                > div {
                    padding: .1rem;
                    font-size: .8rem;
                    &:hover{
                        background-color: vars.$primary-color;
                        color: white;
                    }
                }
            }
        }
          .smIcon{
         
            font-size: 1.3rem;
            fill: vars.$tertiary-color;
          }
          .input-profile{
            &::placeholder{
              color: vars.$primary-color;
          }  
            height: 60%;
            border: none;
            outline: none;
       
            width: 80%;
            color: vars.$primary-color;
            &:focus{
              border: 1px solid vars.$gray;
              box-shadow: vars.$box-shadow;
              border-radius: 1rem;
              padding: .7rem;
            }
          }
        }
   
    //     .field{
    //         width: 49%;
    //         &.field-address{
    //             position: relative;
    //             .suggestionBox{
    //                 position: absolute;
    //                 bottom: 0;
    //                 transform: translateY(97%);
    //                 background-color: white;
    //                 width: 100%;
    //                 overflow: auto;
    //                 max-height: 100px;
    //                 border-radius: 10px;
    //                 cursor: pointer;
    //                 > div {
    //                     &:hover{
    //                         background-color: vars.$primary-color;
    //                         color: white;
    //                     }
    //                 }
    //             }
    //         }
    //         &-input {
    //             padding: .2rem .6rem;
    //             font-size: 1em;
    //             height: 2rem;
    //         }
    //         &-label{
    //             left: unset;
    //             right: 0.7rem;
    //           }
    // }
    .areaContainer{
      margin-top: .5rem;
      width: 100%;
      height: 60px;
      @media (max-width: 600px) {
        display: none;
      }
      gap: 1%;
      display: flex;
      .smIcon{
        font-size: 1.3rem;
        fill: vars.$tertiary-color;
      }
      textarea {
        width: 100%;
        height: 100%;
        resize: none;
        font-size: .9rem;
        outline: none;
        border: none;
        padding: .2rem;
        color: vars.$primary-color;
        &::placeholder{
          color: vars.$primary-color;
        }
        &:focus{
            border: 1px solid vars.$gray;
            box-shadow: vars.$box-shadow;
            border-radius: 1rem;
            padding: .4rem;
          }
        
      }
    }
    .buttonContainer{
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: .5rem;
     
      justify-content: center;
      .btn{
        @media (max-width: 600px){
          width: 40%;
        }
        color: white;
        border: none;
        background-color: vars.$tertiary-color;
        width: 30%;
        border-radius: 7px;
        box-shadow: -4px 0px 4px 2px rgba(204, 204, 204, 0.25);
      }
    }
    }

    .activityList{
      padding: 0 30px;
      @media (max-width: 800px){
        padding: 0;
      }
      width: 100%;
    height: 39%;
      overflow: auto;
    }
}

