@use "../../vars";

.landing {
    width: 100%;
    height: 100%;
    .banner{
        position: absolute;
        top: 15%;
        left: 50%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 70%;
        transform: translateX(-25%);
        z-index: 5000;
    
        > h2{
            font-weight: normal;
            color: vars.$tertiary-color;
            font-size: 1.3rem;
        }
    }
    .landingForm {
        @media (max-width: 800px){
            width: 100%;
            left: 0;
        }
        animation: bargeIn .3s ease-in;
        position: absolute;
        z-index: 2000;
        top: 0;
        left: 2%;
        height: 100%;
        width: 22%;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;

        @keyframes bargeIn {
            0%{
                transform: translateX(-100%)
            }
            100%{
                transform: translateX(0)
            }
        }

        .container {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            min-height: 75%;

            .logo {
                height: 110px;
                width: 200px;
                display: flex;
                justify-content: center;

                img {
                    object-fit: cover;
                    width: 70%;
                    height: 100%;
                }
            }

            .form {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (max-width: 800px) {
                    width: 95%;
                }
              
                h1 {
                    @media (max-width: 800px) {
                        padding-bottom: 1rem;
                    }
                    color: vars.$gray;
                    padding-bottom: 2rem;
                    font-size: 1.6rem;
                }

            }

        }

    }

    .isMember {
        color: vars.$gray;
        font-weight: bold;
        color: vars.$primary-color;
        font-weight: bold;
        @media (max-width: 800px) {
            margin-top: 2rem;
        }
        button {
            color: vars.$secondary-color;
            font-weight: bold;
            cursor: pointer;
            margin-left: .5rem;
            border: none;
            background-color: transparent;
        }
    }
}