@use "../../vars";

.card{
    @media (max-width: 600px) {
        min-width: 200px;
    }
    min-width: 400px;

    box-shadow: vars.$box-shadow;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: white;
    .top{
        width: 100%;
        height: 15%;
        background: linear-gradient(25deg, vars.$tertiary-color 20%, lighten(vars.$tertiary-color, 20%) 100%); 
        display: flex;
        padding: 0 0.8rem;
        justify-content: space-between;
        align-items: center;
        font-weight: 900;
        font-size: 1rem;
        color: white;
        position: relative;
        .type{
            position: absolute;
            bottom: 0;
            right: 7%;
            border-radius: 50%;
            
            transform: translateY(50%);
            .iconCard{
                font-size: 3rem;
                border-radius: 50%;
                background-color: lighten(vars.$primary-color, 20%);
                transition: 0.3s ease;
                padding: .6rem 0;
                fill: vars.$tertiary-color;
                border: 1px solid vars.$tertiary-color;
            }
        }
    }

    .middle{
        height: 70%;
        overflow: auto;
     
        .row{
            padding: .1rem;
            display: flex;
            gap: 3%;
            color: #3c3737;
            > div{
                height: 100%;
                display: flex;
                align-items: flex-start;
                .author{
                    padding-left: .2rem;
                }
            }
            &.first{
                padding-top: .3rem;
            }
        }
        main{
            margin-top: .3rem;
            padding: 0 .7rem;
            word-wrap: break-word;
        }
    }

    .bottom{
        height: 22%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 3%;
        color: vars.$primary-color;
        
        .left{
            width: 10%;
            display: flex;
 
        }

        .center{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            font-size: .8rem;
            > div{
                display: flex;
                height: 100%;
                align-items: center;
                > span{
                    padding-left: .1rem;
                }
                &.actionMiddle{
                    cursor: pointer;
                }
            }
        }
        .right{
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}

.smIcon{
    fill: vars.$primary-color;
    padding-right: .2rem;
}

.actionIcon{
    height: 100%;
    font-size: 1.7rem;
    padding-right: 10%;
    fill: vars.$primary-color;
    &.bookmark{
        fill: vars.$secondary-color;
    }
    cursor: pointer;
    &:hover{
        fill: vars.$tertiary-color;
    }
    &:active{
        transform: scale(.6);
    }
}