@use "../../vars";
@use "sass:color";

.chat{
    height: 96%;
    display: flex;
    flex-direction: column;
    width: 100%;    
    overflow: auto;
    align-items: flex-end;
    .message{
        &.mine{
            align-self: flex-start;
          
        }
        width: 70%;
        animation: grow .3s cubic-bezier(.01,.75,.96,.6);
        .nickname-box{
            color: vars.$primary-color;
            margin-right: .5rem;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            margin-bottom: 1rem;
            span{
                padding: 0 1rem;
            }
            &.mine{
                justify-content: unset;
                span{
                    justify-self: flex-start;
                  
                }
            }
        }

        .message-box{   
            margin: .3rem;
            display: flex;
            flex-direction: column;
            background-color: lighten(vars.$gray, 20%);
            color: black;
            border-radius: 1rem;
            box-shadow: vars.$box-shadow;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: -1rem;
                right: 1rem;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 1rem 1rem;
                transform: rotate(90deg);
                border-color: transparent transparent lighten(vars.$gray,20%) transparent;
              }
            &.mine{
                background-color: lighten(vars.$primary-color, 25%);
                color: white;
                &::before {
                    content: '';
                    position: absolute;
                    top: -1rem;
                    left: 1rem;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 1rem 1rem;
                    transform: rotate(0);
                    border-color: transparent transparent lighten(vars.$primary-color, 25%) transparent;
                  }
            }
            .row{
                margin-top: .3rem;
                height: 40%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .avatar-img{
                    width: 9%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 80%;
                        height: 90%;
                        border-radius: 50%;
                        border: 1px solid vars.$primary-color;
                    }
                }   
            }
            .content{
                height: 60%;
                width: 100%;
                font-size: .8rem;
                padding: .7rem;
                min-height: 80px;
                overflow: auto;
                
                font-size: 1.1rem;
            }
            .message-date{
                align-self: flex-end;
                padding-right: .4rem;
                padding-bottom: .3rem;
                font-size: .8rem;
                font-style: italic;
            }
        }
    }
    }
    

    @keyframes grow {
        0% {
          transform: scale(0.5);
        }
        100% {
          transform: scale(1);
        }
      }
      