@use "../../vars";

.dashboard{
    height: 100%;

    .datatable {
        @media (min-height: 800px ){
            height: 400px;
        }
        height: 300px;
        width: 100%;
        padding: 20px;
        margin-top: 2rem;
        .datatableTitle{
          width: 100%;
          font-size: 24px;
          color: gray;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .cellWithImg {
          display: flex;
          align-items: center;
          .cellImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
          }
        }
      
        .cellWithStatus {
          padding: 5px;
          border-radius: 5px;
        }
      
        .cellAction {
          display: flex;
          align-items: center;
          gap: 15px;
          
          .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.6);
            cursor: pointer;
          }
        }
      }
}