@use "../../../vars";

.list{
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(90%);
    transition: all .6s ease-in-out;
    background-color: rgba(255, 255, 255, 0.4);
    @media (max-width: 600px) {
        height: 100%;
        transform: translateY(95%);
    }
    .chevron{
        @media (max-width: 600px) {
           height: 5%;
        }
        height: 10%;
        .chevronIcon{
            font-size: 2rem;
            fill: vars.$primary-color;
            cursor: pointer;
        }
    }

    .wrapper{

        height: 90%;
        width: 100%;
        overflow: auto;
        padding: 1rem 1.5rem;
        display: flex;
        @media (max-width: 600px){
            flex-direction: column;
        }
        gap: 2%;
        
    }

    .wrapper::-webkit-scrollbar{
        height: 10px;
    }

    .wrapper::-webkit-scrollbar-thumb{
        border-radius: 8px;
    }

    &.showList{
        transform: translateY(0%);
        background-color: rgba(255,255,255,0.5);
        box-shadow: vars.$box-shadow;
    }
}
