@use "../../../vars";



.panel{
    @media (max-width: 600px){
        display: none;
        width: 100%;
    }
    position: absolute;
    z-index: 2000;
    top: 0;
    right: 4%;
    height: 100%;
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2%;
    color: vars.$gray;
    align-items: center;
    justify-content: space-between;
    transform: translateX(120%);
    transition: transform 1s ease-in-out;
    .leave{
        position: fixed;
        top: 1%;
        left: 1%;
        cursor: pointer;
        .x{
         fill: vars.$secondary-color;
         border: 1px solid vars.$secondary-color;
         border-radius: 50%;
         font-size: 1.6rem;
         padding: .2rem;
        }   
    }
    &.showPanel{
        transform: translateX(0);
    }
}

