@use "../../../vars";
@use "sass:color";

.sidebar {
    position: absolute;
    z-index: 3000;
    top: 0;
    right: 0;
    height: 100%;
    width: 4%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2%;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.8s ease-in-out;
    &.show{
        background-color: white;
    }
    .menu {
        display: flex;
        flex-direction: column;
        height: 300px;
        gap: 1rem;
        li {
            border-radius: 50%;
            margin-bottom: 1rem;
            &.filterLi{
                margin-bottom: .5rem;
            }
        }
        .filter{
            transform: translateY(-10%);
        }
    }

    button{
        background: transparent;
        border: none;
    }
}

.icon {
    font-size: 2.7rem;
    border-radius: 50%;
    background-color: lighten(vars.$primary-color, 20%);
    transition: 0.3s ease;
    padding: .6rem 0;
    fill: vars.$tertiary-color;
    border: 1px solid vars.$tertiary-color;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &.filterIcon{
        font-size: 2.4rem;
    }
    &.active{
        fill: darken(vars.$secondary-color, 20%);
        border: 2px solid darken(vars.$secondary-color, 20%);
    }
    &:hover{
        background: linear-gradient(25deg, darken(vars.$tertiary-color, 10%) 20%, lighten(vars.$primary-color, 20%) 100%); 
        fill: #fff;
      }
    &:active{
        scale: 0.1;
    }
}