@use "../../../vars";
@use "sass:color";

.sidebar {
    position: absolute;
    z-index: 4000;
    top: 0;
    right: 0;
    height: 100%;
    width: 4%;
    @media (max-width: 600px){
        width:  15%;
     }
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 2%;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.8s ease-in-out;
    &.sideFilter{
        background-color: white;
    }
    &.show{
        background-color: white;
        @media (max-width: 600px){
           display: none
        }
    }
    .main {
        display: flex;
        flex-direction: column;
        height: 300px;
        gap: .3rem;
        li {
            border-radius: 50%;
            margin-bottom: 1rem;
            &.filterLi{
                &:first-child{
                    margin-top: 1rem;
                }
                margin-bottom: .3rem;
            }
            
        }
        .filter{
            transform: translateY(-10%);
        }
    }

    .bottom{
        li{
            margin-bottom: 1rem;
        }
    }

}

.icon {
    font-size: 2.7rem;
    border-radius: 50%;
    background-color: vars.$primary-color;
    transition: 0.3s ease;
    padding: .6rem 0;
    fill: white;
    border: 1px solid vars.$gray;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &.filterIcon{
        font-size: 2.4rem;
    }
    &.active{
        fill: vars.$secondary-color;
        border: 2px solid vars.$secondary-color;
    }
    &:hover{
        background: linear-gradient(25deg, darken(vars.$tertiary-color, 10%) 20%, lighten(vars.$primary-color, 20%) 100%); 
        fill: #fff;
      }
    &:active{
        scale: 0.4;
    }
}