@use "./vars";
@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto" sans-serif;
}

li{
  list-style: none;
}

.server-error{
  padding-bottom: 1rem;
  color: tomato;
}

.btn{
  padding: .5rem 2rem;
  text-align: center;
  border-radius: 1rem;
  color: vars.$primary-color;
  background-color: lighten(vars.$primary-color, 35%);
  border: 1px solid  vars.$primary-color;
  cursor: pointer;
  transition: color .5s ease-in-out;
  &.disabled{
    cursor: not-allowed;
    background-color: lighten(vars.$primary-color, 45%);
    &:hover{
      background: linear-gradient(25deg, darken(vars.$tertiary-color, 20%) 20%, lighten(vars.$primary-color, 20%) 100%); 
    }
  }
  &:hover{
    background: linear-gradient(25deg, darken(vars.$tertiary-color, 10%) 20%, lighten(vars.$primary-color, 20%) 100%); 
    color: #fff;
  }
  &:active{
    scale: 0.8
  }

}